<div class="jumbotron">
    <h1>Teacher's Helper</h1>
    <p class="lead">
        <img width='100' src="images/helper.svg" alt="Teacher's Helper">
        <br> Helping you forget the boring stuff.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/register">Sign Up!</a></p>
</div>
<div class="row ">
    <div class='col-sm-4 col-xs-12'>
      <h4>Invoices</h4>
    <p>
        Track lessons taught, billed, and paid.
    </p>
    </div>
    <div class='col-sm-4 col-xs-12'>
      <h4>Student Progress</h4>
    <p>
        Follow your student's pieces learned, current pieces playing, and pieces to be played.
    </p>
    </div>
    <div class='col-sm-4 col-xs-12'>
      <h4>Schedule</h4>
    <p>
        Schedule lessons, masterclasses, competitions, and more.
    </p>
    </div>
</div>